.cta.social-share {

  @include xy-grid();
  @include flex-align(justify, middle);

  border-bottom: rem-calc(1) solid $light-gray;

  .left,
  .right {
    @include xy-cell(shrink, false);
  }

  .right {

    a {
      display: inline-block;
      padding: rem-calc(10 5);
    }

  }

}
