.breadcrumbs > span {

  float: left;
  font-size: 0.6875rem;
  color: $black;
  cursor: default;
  text-transform: uppercase;

  > a {
    color: $primary-color;
  }

  &:not(:last-child)::after {
      position: relative;
      margin: 0 0.75rem;
      opacity: 1;
      content: "/";
      color: #cacaca;
  }

}
